<div class="mt-10" id="<%= dom_id post %>">

  <% if action_name != "show" %>
    <div class="grid grid-cols-6 mt-6">
      <div class="col-span-4">
        <div>
          <p><%= post.title %></p>
        </div>
      </div>
      <div>
        <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium ml-5" %>
      </div>
      <div> 
        <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-5 px-5 bg-gray-100 inline-block font-medium" %>
      </div>
    </div>
    
    <hr class="mt-6">

  <%elsif %>

    <div class="">
      
      <%# title %>
      <div class="flex mt-2 justify-center">
        <h1 class="text-2xl"> <%= post.title %> </h1>
      </div>

      <%# Image %>
      <%# image_tag(post.image.variant(resize: "100x100"), size: '100') %>
      <div class="flex justify-center mt-5">
        <%= image_tag(post.image, size: '400') if post.image.present? %>
      </div>

      <%# Date and Author %>
      <div class="flex justify-between mt-5">
        <p class="text-sm text-gray-300">  <%= post.created_at.strftime("%F") %>  </p>
        <p class="text-sm text-gray-300" > <%=  "Created by #{post.user.email}" %> </p>
      </div>

      <%# content %>
      <div class="flex justify-center mt-5">
        <%= post.content %>
      </div>

      <hr class="mt-5">

      <%# comments %>
      <div class="my-5">
        <% post.comments.first(5).each do |comment|  %>
          <%= render "comments/comment", comment: comment %>
        <% end %>
      </div>

      <%# new comment%>
      <% if user_signed_in? %>
        <div class="my-5">
          <%= render "comments/form", comment: Comment.new, post: post %>
        </div>
      <% end %>

    </div>

  <% end %>
</div>